server {
    listen       80;
    server_name  localhost;

    location / {
        root   /usr/share/nginx/html;
        try_files $uri $uri.html $uri/ =404;
    }

    location /api {
        proxy_pass ${BACKEND_HOST};
    }
}
