# IntelliJ
.idea
*.iml

# Maven
target
.mvn/wrapper/*.jar
pom.xml.versionsBackup
dependency-reduced-pom.xml

# Personal files
config.json
ManualPairingTest.java
/all-databases.sql
data.mv.db
backup.sql
restore.sql
large_data.mv.db
data.trace.db

# Frontend
node_modules
dist
test-reports
.tanstack