<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pair Stairs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/developers.css">

    <script type="text/javascript" src="js/developers.js"></script>
</head>
<body>
<header class="h-stack">
    <div class="h-stack">
        <h1><a class="index-link" href="/">pair-stairs</a></h1>
        <a href="/developers">Developers</a>
        <a href="/streams">Streams</a>
    </div>
</header>
<main>
    <div class="main-card">
        <div class="paper v-stack">
            <h1>Developers</h1>
            <div class="h-stack">
                <button class="button-outlined" type="button" onclick="openDialog()">New Developer</button>
            </div>
            <dialog id="add-developer-dialog">
                <div class="dialog">
                    <div class="dialog-title h-stack">
                        <h3>Add new developer</h3>
                    </div>
                    <div class="dialog-content">
                        <form id="add-developer-form" class="v-stack" method="dialog">
                            <label for="name">Developer Name</label>
                            <input type="text" name="name" id="name" required/>
                            <div class="h-stack">
                                <button>Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </dialog>

            <ul id="developers-list" class="v-stack">
                <li th:each="developerInfo : ${developerInfos}"
                    th:text="${developerInfo.displayName()}">
                </li>
            </ul>
        </div>
    </div>
</main>
</body>
</html>